<header>
    <div style="text-align: center; font-weight: bold; font-size: 1.3em; border-width: 2px; border-style: solid; border-radius: 20px; padding: 0.5em; background: none repeat scroll 0% 0% rgba(225, 68, 68, 0.2); overflow: hidden;"><div><img style="float: left; width: 70px; border: none; box-shadow: none;" src="http://www.kronosnotebook.com/static/imgs/logo.png" alt="Kronos Notebook logo"> <div style="">Check out <a href="http://www.kronosnotebook.com">Kronos Notebook</a>, my new <a href="http://www.ipython.org/notebook.html">IPython</a>-based Mac app for interactive computing and data analysis in Python or Haskell.</div></div></div>
$if(index)$
    <h1 class="entry-title"><a href="$post_url$">$title$</a></h1>
$else$
    <h1 class="entry-title">$title$</h1>
$endif$
    <p class="meta">
    $date$
    </p>
</header>

$if(index)$
  <div class="entry-content">$excerpt$</div>
<footer>
    <a rel="full-article" href="$post_url$">$excerpt_link$</a>
</footer>
$else$
<div class="entry-content">$body$</div>
$endif$
