<div>
<article class="hentry" role="article">

  $partial("templates/article.html")$
  <footer>
    <p class="meta">
      $date$ - Posted in $categoryLinks$
    </p>

    <p class="meta">
      $if(previousUrl)$
        <a class="basic-alignment left" href="$previousUrl$" title="Previous Post: $previousTitle$">&laquo; $previousTitle$</a>
      $endif$
      $if(nextUrl)$
        <a class="basic-alignment right" href="$nextUrl$" title="Next Post: $nextTitle$">$nextTitle$ &raquo;</a>
      $endif$
    </p>
  </footer>

</article>
</div>

$partial("templates/sidebar.html")$
